**/*
!.gitignore

!README.md
!LICENSE

# instance.json contains metadata about the mod pack, used with AT Launcher
# We exclude this because this contains information about the system, which is
# not relevant to the mod pack.
instance.json

!options.txt

# In stead, we would include the contents of an exported *.mrpack. 
# Namely, the modrinth.index.json.
!modrinth.index.json

# The config folder isn't actually used in the final mod pack, but it's
# useful to include with VCS, to keep track of in-game changes.
!config
!config/**/*
config/sodium-fingerprint.json

!configureddefaults
!configureddefaults/**/*

!overrides
!overrides/**/*

!server-overrides
!server-overrides/**/*

!client-overrides
!client-overrides/**/*

config/spark/activity.json
config/spark/heap*
config/spark/**/about.txt

!.vscode
!.vscode/**/*